* {
    padding: 10px;
    margin: 10px;
}

body {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    transform: skewY(-15deg);
}

li {
    position: relative;
    list-style: none;
    width: 150px;
    padding: 1px;
    background: #3e3f46;
    z-index: calc(1*var(--i));
    transition: 0.5s;
}

li:hover {
    background: #996fae;
    transform: translateX(-50px);
}

li::before {
    font-family: "monospace";
    color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-icon);
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 60px;
    background: #2e3133;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

li:hover::before {
    background: #7b5190;
}

li::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: #35383e;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

li:hover::before {
    background: #86589d;
}

li a {
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

li:hover a {
    columns: #fff;
}

li:last-child::after {
    box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);

}
